---
permalink: /en/portfolio.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0; url=/en/portfolio/">
  <link rel="canonical" href="{{ site.url }}/en/portfolio/">
  <title>Redirecting…</title>
</head>
<body>
  <p>This page has moved. <a href="/en/portfolio/">Click here</a> if you are not redirected.</p>
</body>
</html>
