---
permalink: /ja/portfolio.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0; url=/ja/portfolio/">
  <link rel="canonical" href="{{ site.url }}/ja/portfolio/">
  <title>リダイレクト中…</title>
</head>
<body>
  <p>ページが移動しました。<a href="/ja/portfolio/">こちらをクリック</a>してください。</p>
</body>
</html>
